<svg svg-pan-zoom id="map" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 804.3 1022.3" enable-background="new 0 0 804.3 1022.3" xml:space="preserve">

	<g id="rdc" ng-if="etage == 0" stagger-enter>

		<g id="salle1" ng-click="go('salle1')">
				<rect  id="bg_13_" x="453.7" y="715.8" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="170" height="110"/>
			<text id="text_24_" transform="matrix(1 0 0 1 464.9588 816.3104)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">SALLE 1</text>
			<circle fill="#FFFFFF" cx="538.7" cy="770.8" ng-r="places.salle1.users.length"/>
		</g>


		<g id="salle2" ng-click="go('salle2')">
				<rect  id="bg_15_" x="453.7" y="605.8" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="170" height="110"/>
			<text id="text_26_" transform="matrix(1 0 0 1 464.9588 706.0956)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">SALLE 2</text>
			<circle fill="#FFFFFF" cx="538.7" cy="656.8" ng-r="places.salle2.users.length"/>
		</g>


		<g id="salle3" ng-click="go('salle3')">
				<rect  id="bg_17_" x="453.7" y="495.8" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="170" height="110"/>
			<text id="text_17_" transform="matrix(1 0 0 1 464.9586 596.3104)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">SALLE 3</text>
			<circle fill="#FFFFFF" cx="542.7" cy="550.8" ng-r="places.salle3.users.length"/>
		</g>


		<g id="salle4" ng-click="go('salle4')">
				<rect id="bg_19_" x="453.7" y="385.8" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="170" height="110"/>
			<text id="text_19_" transform="matrix(1 0 0 1 464.9583 486.2621)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">SALLE 4</text>
			<circle fill="#FFFFFF" cx="538.7" cy="440.8" ng-r="places.salle4.users.length"/>
		</g>


		<g id="salle5">
			<polygon id="bg" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" points="413.7,327.4 
				413.7,465.8 353.7,465.8 353.7,349 		"/>
			<text id="text_5_" transform="matrix(1 0 0 1 364.9589 456.3104)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">Salle 5</text>
			<circle fill="#FFFFFF" cx="383.7" cy="396.6" />
		</g>



		<g id="salle6"ng-click="go('salle6')" >
				<rect id="bg_8_" x="293.7" y="495.8" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="120" height="110"/>
			<text id="text_10_" transform="matrix(1 0 0 1 304.9589 596.3104)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">Salle 6</text>
			<circle fill="#FFFFFF" cx="353.7" cy="550.8" ng-r="places.salle6.users.length"/>
		</g>


		<g id="salle7" ng-click="go('salle7')">
				<rect id="bg_6_" x="193.7" y="495.8" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="100" height="110"/>
			<text id="text_9_" transform="matrix(1 0 0 1 204.9589 596.3104)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">SALLE 7</text>
			<circle fill="#FFFFFF" cx="243.7" cy="550.8" ng-r="places.salle7.users.length"/>
		</g>


		<g id="salle8" display="none" ng-click="go('salle8')">
				<polygon id="bg_21_" display="inline" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" points="
				103.7,439.2 103.7,638.3 13.7,638.3 13.7,471.6 		"/>
			
				<text id="text_21_" transform="matrix(1 0 0 1 24.9589 628.3104)" display="inline" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">SALLE 8</text>
			<circle display="inline" fill="#FFFFFF" cx="58.7" cy="550.8" ng-r="places.salle8.users.length"/>
		</g>


		<g id="salle9" ng-click="go('salle9')">
				<rect id="bg_4_" x="193.7" y="605.8" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="220" height="110"/>
			<text id="text_7_" transform="matrix(1 0 0 1 204.9589 706.3104)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">SALLE 9</text>
			<circle fill="#FFFFFF" cx="303.7" cy="660.8" ng-r="places.salle9.users.length"/>
		</g>


		<g id="salle10" ng-click="go('salle10')">
				<rect id="bg_2_" x="193.7" y="715.8" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="130" height="110"/>
			<text id="text_2_" transform="matrix(1 0 0 1 204.9589 816.3104)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">salle 10</text>
			<circle fill="#FFFFFF" cx="258.7" cy="770.8" ng-r="places.salle10.users.length"/>
		</g>


		<g id="sdr1" ng-click="go('reunion1')">
				<rect id="bg_10_" x="553.7" y="275.8" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="70" height="110"/>
			<text id="text_13_" transform="matrix(1 0 0 1 565.3217 376.5081)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">sdr 1</text>
			<circle fill="#FFFFFF" cx="588.7" cy="322.8" ng-r="places.reunion1.users.length"/>
		</g>


		<g id="espace3">
			<polygon id="bg_23_" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" points="
				193.7,406.7 193.7,825.8 103.7,825.8 103.7,439.1 		"/>
			<text id="text_1_" transform="matrix(1 0 0 1 114.9589 816.3104)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">ESPACE 3</text>
			<circle fill="#FFFFFF" cx="148.7" cy="629" ng-r="0"/>
		</g>
		<polygon id="couloir_1_" opacity="0.5" fill="#41445B" stroke="#242428" stroke-width="2" stroke-miterlimit="10" points="
			453.7,878 453.7,825.8 453.7,495.8 453.7,465.8 453.7,385.8 553.7,385.8 553.7,345.8 453.7,345.8 453.7,313.4 413.7,327.4 
			413.7,345.8 413.7,385.8 413.7,465.8 233.7,465.8 233.7,392.7 193.7,406.7 193.7,465.8 193.7,495.8 233.7,495.8 413.7,495.8 
			413.7,715.8 323.7,715.8 323.7,825.8 313.7,825.8 103.7,825.8 103.7,854.6 103.7,855.8 103.7,904.7 169.2,904.7 169.2,855.8 
			313.7,855.8 313.7,878 313.7,884.8 313.7,895.8 453.7,895.8 453.7,878 	"/>
	</g>

	<g id="etage" ng-if="etage == 1" stagger-enter>


		<g id="synerg" ng-click="go('synerg')">
				<rect id="bg_11_" x="660.9" y="835" transform="matrix(0.9986 -5.343408e-002 5.343408e-002 0.9986 -46.2931 38.4421)" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="69.7" height="100"/>
			<text id="text_11_" transform="matrix(0.9985 -5.396000e-002 5.396000e-002 0.9985 672.2684 914.7631)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">SYNERG’</tspan><tspan x="0" y="12" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">HETIC</tspan></text>
			<circle fill="#FFFFFF" cx="695.8" cy="885" ng-r="places.synerg.users.length"/>
		</g>


		<g id="salle11" ng-click="go('salle11')">
				<rect id="bg_22_" x="615.3" y="736.2" transform="matrix(0.9986 -5.343409e-002 5.343409e-002 0.9986 -41.0513 36.9395)" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="110" height="100"/>
				<text id="text_22_" transform="matrix(0.9985 -5.396000e-002 5.396000e-002 0.9985 628.3094 828.03)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">Salle 11</text>
			<circle fill="#FFFFFF" cx="670.3" cy="786.2" ng-r="places.salle11.users.length"/>
		</g>


		<g id="salle12" ng-click="go('salle12')">
				<rect id="bg_9_" x="609.9" y="636.3" transform="matrix(0.9986 -5.343409e-002 5.343409e-002 0.9986 -35.7232 36.5113)" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="110" height="100"/>
				<text id="text_8_" transform="matrix(0.9985 -5.396000e-002 5.396000e-002 0.9985 622.776 728.3301)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">Salle 12</text>
			<circle fill="#FFFFFF" cx="664.9" cy="682.3" ng-r="places.salle12.users.length"/>
		</g>


		<g id="salle13" ng-click="go('salle13')">
				<rect id="bg_20_" x="604.1" y="516.5" transform="matrix(0.9986 -5.343409e-002 5.343409e-002 0.9986 -29.8622 36.0403)" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="110" height="120"/>
				<text id="text_20_" transform="matrix(0.9985 -5.396000e-002 5.396000e-002 0.9985 618.1093 628.9968)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">Salle 13</text>
			<circle fill="#FFFFFF" cx="659.1" cy="576.5" ng-r="places.salle13.users.length"/>
		</g>


		<g id="comm">
			<polygon id="bg_7_" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" points="
				570.4,511.1 520.5,513.8 516.2,438.5 566.2,435.9 		"/>
				<text id="text_4_" transform="matrix(0.9985 -5.396000e-002 5.396000e-002 0.9985 526.8293 505.8304)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">COMM.</text>
			<circle fill="#FFFFFF" cx="543.3" cy="470.8" ng-r="0"/>
		</g>


		<g id="sdr2">
			<polygon id="bg_18_" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" points="
				566.2,435.9 516.2,438.5 512.5,372.4 562.4,369.7 		"/>
				<text id="text_18_" transform="matrix(0.9985 -5.396000e-002 5.396000e-002 0.9985 523.8978 430.8306)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">SdR 2</text>
			<circle fill="#FFFFFF" cx="539.3" cy="400.1" ng-r="0"/>
		</g>


		<g id="sdr3">
			<polygon id="bg_5_" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" points="
				562.4,369.7 512.5,372.4 509.8,314.1 559.8,311.4 		"/>
				<text id="text_6_" transform="matrix(0.9985 -5.396000e-002 5.396000e-002 0.9985 520.8336 363.3312)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">SdR 3</text>
			<circle fill="#FFFFFF" cx="535.3" cy="333.9" ng-r="0"/>
		</g>


		<g id="espace2" ng-click="go('cafeteria2')">
			<polygon id="bg_16_" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" points="
				589.7,309.8 509.8,314.1 500.2,134.3 577.4,80.1 		"/>
				<text id="text_16_" transform="matrix(0.9985 -5.396000e-002 5.396000e-002 0.9985 519.2308 303.8306)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">ESPACE 2</text>
			<circle fill="#FFFFFF" cx="545" cy="197.1" ng-r="places.cafeteria2.users.length"/>
		</g>


		<g id="salle14" ng-click="go('salle14')">
			<polygon id="bg_3_" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" points="
				527.9,650.1 381.9,650.1 381.9,540.1 521.9,540.1 		"/>
			<text id="text_3_" transform="matrix(1 0 0 1 389.8578 640.6358)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">Salle 14</text>
			<circle fill="#FFFFFF" cx="454.9" cy="595.1" ng-r="places.salle14.users.length"/>
		</g>


		<g id="salle15" ng-click="go('salle15')">
				<rect id="bg_14_" x="241.9" y="540.1" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="140" height="110"/>
			<text id="text_14_" transform="matrix(1 0 0 1 251.642 640.6358)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">Salle 15</text>
			<circle fill="#FFFFFF" cx="311.9" cy="595.1" ng-r="places.salle15.users.length"/>
		</g>


		<g id="salle16" ng-click="go('salle16')">
				<rect  id="bg_1_" x="101.9" y="540.1" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" width="90" height="110"/>
			<text id="text" transform="matrix(1 0 0 1 111.6421 640.6358)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">Salle 16</text>
			<circle fill="#FFFFFF" cx="146.9" cy="595.1" ng-r="places.salle16.users.length"/>
		</g>


		<g id="espace1">
			<polygon id="bg_12_" opacity="0.25" fill="#FFFFFF" stroke="#595961" stroke-width="2" stroke-miterlimit="10" points="
				241.9,650.1 241.9,769.1 241.9,770.1 101.9,770.1 101.9,650.1 191.9,650.1 191.9,540.1 241.9,540.1 		"/>
			<text id="text_12_" transform="matrix(1 0 0 1 111.6421 760.6358)" fill="#FFFFFF" font-family="'OpenSans-Bold'" font-size="10">ESPACE 1</text>
			<circle fill="#FFFFFF" cx="171.9" cy="706.3" ng-r="0"/>
		</g>


		<polygon id="couloir" opacity="0.5" fill="#41445B" stroke="#242428" stroke-width="2" stroke-miterlimit="10" points="
			658.3,836.9 618,839 600.9,519.5 710.9,513.6 709.3,483.7 599.3,489.6 589.7,309.8 559.8,311.4 575.5,606 525.3,603.7 527.8,650.5 
			242.2,650.4 242,683.5 529.6,683.6 543.6,682.8 579.5,680.9 582.8,741.2 577.8,741.4 580.4,790.8 585.4,790.5 588.1,840.7 
			538.2,843.3 543.6,942.1 579.1,940.2 575.2,866.4 589.8,865.6 591,888.3 620.4,886.8 619.2,864.1 639.3,862.9 641.9,912.2 
			662.3,911.1 659.1,852.5 	"/>
	</g>
	<g ng-transclude />
</g>